<div class="parent">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-5">
            <img class="loginPic" src=" https://sv1.picz.in.th/images/2023/02/04/LihExl.jpg" alt="" />
        </div>    
        <div class="col-sm-6 col-md-7 col-lg-7">
            <div class="login-frame">
   
                <h1>Log In</h1>
                <form action="/" method="post">

                <p class="email">Email</p>
                <input type="email" name="email" placeholder="Please enter your Email">
                <p class="password">Password</p>
                <input type="password" name="password" placeholder="Please enter your Password">
                <input type="submit" value="Log in">
                <p class="no-account">Don't have an account yet? <a class="signup" href="/signup"> Sign Up</a></p>

                </form>

                {{#if error_msg}}
                    <p>{{ error_msg }}</p>      
                {{/if}}
                
            </div>
        </div>     
    </div>
</div>